input {
    font-style: normal;
    font-size: 3.125rem;
    line-height: 1.4;
    border: none;
    display: inline;
    width: auto;
    height: auto;
    background: #2a2b3c;
    color: #FFFFFF;
    cursor: pointer;
}

.OrderButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .62em 2.5em;
    margin-top: 50px;
    background: #123;
    max-width: 900px;
    height: 9.37em;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 10px transparent;
    border-radius: 100px;
}

.OrderButtonAnimation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .62em 2.5em;
    margin-top: 50px;
    background: #123;
    max-width: 900px;
    height: 9.37em;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 10px transparent;
    border-radius: 100px;
}

.OrderButton input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.OrderButtonAnimation input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    animation: fadeIn 0.5s;
}

.OrderButton input:focus {
    color: #FEC72E;
}

.OrderButtonAnimation::before {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -15px;
    border-radius: inherit;
    background: linear-gradient(to bottom left, rgb(254, 199, 46) 33.333%, rgb(0, 210, 0) 33.333% 66.666%, rgb(0, 180, 255) 66.666%);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.StyledSubmitButton {
    color: #fec72e;
    cursor: default;
}

.StyledSubmitButton:focus {
    color: #fec72e;
    cursor: default;
    outline: none;
}

.OrderButton::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    transition: .15s ease margin;
    background: linear-gradient(to bottom left, rgb(254, 199, 46) 33.333%, rgb(0, 210, 0) 33.333% 66.666%, rgb(0, 180, 255) 66.666%);
}

.OrderButton:hover::before {
    margin: -15px;
    filter: contrast(1.1);
}
