.OrderButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .62em 2.5em;
    margin-top: 50px;
    background: black;
    max-width: 900px;
    height: 9.37em;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 10px transparent;
    border-radius: 100px;
}

.OrderButtonAnimation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    margin-top: 50px;
    background: black;
    max-width: 900px;
    height: 150px;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 10px transparent;
    border-radius: 100px;
}

.OrderButton input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.OrderButton input:focus {
    color: #FEC72E;
}

.OrderButtonAnimation::before {
    animation-duration: 3s;
    animation-name: pressAnimation;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -10px;
    border: none;
}

@keyframes pressAnimation {
    from {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -10px;
        border-radius: inherit;
        background: linear-gradient(
                #fec72e,
                #fec72e,
                #00d200,
                #00d200,
                #00b4ff,
                #00b4ff
        );
    }

    to {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: none;
    }

    50% {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -10px;
        border-radius: inherit;
        background: linear-gradient(
                #00d200,
                #00b4ff,
                #00b4ff,
                #fec72e,
                #fec72e,
                #00d200
        );
    }
}

.StyledSubmitButton {
    color: #fec72e;
    cursor: default;
}

.StyledSubmitButton:focus {
    color: #fec72e;
    cursor: default;
    outline: none;
}

.OrderButton::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    transition: .15s ease margin;
    background: linear-gradient(
            #fec72e,
            #fec72e,
            #00d200,
            #00d200,
            #00b4ff,
            #00b4ff
    );
}

.OrderButton:hover::before {
    margin: -15px;
    filter: contrast(1.1);
}
