.my_header {
    display: flex;
    justify-content: space-between;
    /*height: 765px;*/
    height: 48em;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../public/aboba.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% center;
}

.header_link {
    z-index: 1;
    box-shadow: 0 3px 0 0 hsl(0deg 0% 100% / 30%);
    text-decoration: none;
    margin-left: 1em;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    transition: 0.15s ease;
}

.header_link:hover {
    z-index: 1;
    box-shadow: 0 3px 0 0 rgb(255 200 0 / 80%);
    text-decoration: none;
    margin-left: 1em;
    margin-top: 1.7em;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    line-height: 1.4;
    text-align: center;
    color: #FEC72E;
}

.button_to_scroll {
    margin-top: 40px;
    margin-right: 40px;
    padding: .85em 2em .7em;
    height: 3em;
    background-color: Transparent;
    border: .2em solid #FEC72E;
    box-sizing: border-box;
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
    transition: .15s ease all;
    cursor: pointer;
    text-decoration: none;
}

.button_to_scroll:hover {
    border-color: #ffffff;
}

.description_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.description_heading {
    font-style: normal;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 1;
    color: #FEC72E;
}

.description_text {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.4;
    white-space: pre-line;
    max-width: 1024px;
    margin-bottom: 80px;
    align-self: center;
    color: #FFFFFF;
}

.bad_plates_container {
    width: 100%;
    background: url("../../public/bad_plates.webp") no-repeat;
    background-size: 100% auto;
    aspect-ratio: 1439 / 642;
}

.bad_plates_container:after {
    content: '';
    display: block;
    padding-bottom: 44%;
}

.line {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.doc_link {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.4;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;

}

.container_start {
    display: flex;
}

.change_color {
    margin-top: 24px;
    margin-left: 115px;
}

.container_form {
    display: flex;
    justify-content: center;
}

.form_wrapper {
    margin: 2rem;
    background-color: #1d1e1f;
    border-radius: 1.75rem;
}

.front {
    z-index: 1;
    position: relative;
    margin: 0;
    max-height: 60rem;
    padding-top: 7.5rem;
    padding-bottom: 10rem;
    background: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_wrapper {
    z-index: 1;
    margin: 0;
    padding: 0 2rem;
}

.h1_wrapper {
    z-index: 1;
    margin-bottom: 0;
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 1;
    color: #FFFFFF;
}

.p_wrapper {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.4;
    color: rgba(255, 255, 255);
}

.plate_wrapper {
    margin-top: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.change_color_container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: .5em 2em;
    flex-wrap: wrap;
}

.inputs_p_wrapper {
    font-size: 1.875rem;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    margin-right: 40px;
}
