.StyledInput {
    outline: none !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 900px;
    border: 8px solid transparent;
    padding: .8em .6em .8em .8em;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.4;
    background: #2F2F2F;
    border-radius: 24px;
    transition: .15s ease all;
}

.StyledInput:hover {
    background: #3f3f3f;
}

.StyledInput:focus {
    background: white;
    color: black
}

.StyledInput_error {
    border: 8px solid #E1222D;
}

.check-container {
    margin: 4rem 0;
}

.check {
    display: flex;
    align-items: center;
    column-gap: 1em;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top: 1em;
}

.check__input__0 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box__0 {
    flex-grow: 1;
    height: 88px;
    background-image: url("../checkboxStates/Демонтаж-Неактивный.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    transition: .15s ease;
}

.check__input__0:checked + .check__box__0 {
    background-image: url("../checkboxStates/Демонтаж-Активный.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.check__input__0:hover + .check__box__0,
.check__input__0:focus-visible + .check__box__0 {
    background-image: url("../checkboxStates/Демонтаж-Фокус.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.check__input__0:checked:focus-visible + .check__box__0 {
    background-image: url("../checkboxStates/Демонтаж-Активный.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.check__input__1 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box__1 {
    flex-grow: 1;
    height: 88px;
    background-image: url("../checkboxStates/Монтаж-Неактивный.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    transition: .15s ease;
}

.check__input__1:checked + .check__box__1 {
    background-image: url("../checkboxStates/Монтаж-Активный.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.check__input__1:hover + .check__box__1,
.check__input__1:focus-visible + .check__box__1 {
    background-image: url("../checkboxStates/Монтаж-Фокус.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.check__input__1:checked:focus-visible + .check__box__1 {
    background-image: url("../checkboxStates/Монтаж-Активный.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

p {
    margin: 0px;

    font-size: 1.875rem;
    line-height: 1.4;

    color: #000000;
}

.inputs-container {
    max-width: 900px;
    height: 696px;
}
