.StyledInput {
    outline: none !important;
    font-family: Iset Sans;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 900px;
    height: 120px;
    border: none;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
    border-radius: 24px;
}

.StyledInput:focus:required:valid {
    font-family: Iset Sans;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 900px;
    height: 120px;
    border: 8px solid #FFFFFF;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
    border-radius: 24px;
}

.StyledInput:focus:required:invalid {
    font-family: Iset Sans;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 900px;
    height: 120px;
    border: 8px solid #E1222D;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
}

.check {
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
    margin-top: 30px;
}

.check__input__0 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box__0 {
    display: flex;
    width: 369px;
    height: 88px;
    background-image: url("../checkboxStates/Демонтаж-Неактивный.png");
}

.check__input__0:checked + .check__box__0 {
    background-image: url("../checkboxStates/Демонтаж-Активный.png");
}

.check__input__0:focus + .check__box__0 {
    background-image: url("../checkboxStates/Демонтаж-Фокус.png");
}

.check__input__0:checked:focus + .check__box__0 {
    background-image: url("../checkboxStates/Демонтаж-Активный.png");
}

.check__input__1 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box__1 {
    display: flex;
    width: 328px;
    height: 88px;
    background-image: url("../checkboxStates/Монтаж-Неактивный.png");
}

.check__input__1:checked + .check__box__1 {
    background-image: url("../checkboxStates/Монтаж-Активный.png");
}

.check__input__1:focus + .check__box__1 {
    background-image: url("../checkboxStates/Монтаж-Фокус.png");
}

.check__input__1:checked:focus + .check__box__1 {
    background-image: url("../checkboxStates/Монтаж-Активный.png");
}

p {
    margin: 0px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.inputs-container {
    width: 640px;
    height: 696px;
}
