.my_header {
    height: 765px;
    width: 100%;
    background: no-repeat;
    background-size: cover;
    background-image: url("../public/cover.png");
}

.description_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.description_heading{
    font-family: Iset Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 100%;
    /* identical to box height, or 120px */


    /* Жёлтый */

    color: #FEC72E;
}

.description_text{
    /* Основной текст */

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    /* or 56px */

    white-space: pre-line;
    width: 1024px;
    margin-bottom: 80px;
    align-self: center;

    /* Белый */

    color: #FFFFFF;
}

.bad_plates_container {
    width: 100%;
    height: 642px;
    background: url("../public/bad_plates.png") no-repeat;
    background-size: 100% auto;

}

.container_start {
    display: flex;
}

.change_color {
    margin-top: 24px;
    margin-left: 115px;
}


.front {
    margin: 0px;
    padding-top: 120px;
    padding-bottom: 160px;
    background: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_wrapper {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h1_wrapper {
    margin-bottom: 0px;
    margin-top: 0px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 120px;
    /* or 120px */


    /* Белый */

    color: #FFFFFF;
}

.p_wrapper {
    margin-top: 40px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    /* identical to box height, or 56px */


    /* Белый 80% */

    color: rgba(255, 255, 255, 0.8);
}

.plate_wrapper {
    margin-top: 40px;
    /*margin-bottom: 160px;*/
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change_color_container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.inputs_p_wrapper {
    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    /* identical to box height, or 42px */


    /* Белый 80% */

    color: rgba(255, 255, 255, 0.8);

    margin-right: 40px;
}

.price {
    font-family: Iset Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    /* identical to box height, or 60px */

    text-align: right;

    /* Белый 80% */

    color: rgba(255, 255, 255, 0.8);
}
