.StyledInput {
    font-family: 'Iset Sans';
    border: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    width: 900px;
    height: 120px;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
    border-radius: 24px;
}


.check {
    color: #FFFFFF;
    font-family: Iset Sans;
    outline-width: 0px;
    opacity: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
    display: flex;
    margin-top: 30px;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box {
    display: flex;
    width: 72px;
    height: 72px;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='62' height='62' rx='11' fill='%232F2F2F'/%3E%3Crect x='5' y='5' width='62' height='62' rx='11' stroke='%232F2F2F' stroke-width='10'/%3E%3C/svg%3E%0A");
}

.check__input:checked + .check__box {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='62' height='62' rx='11' fill='%232F2F2F'/%3E%3Cpath d='M21 38L30 48.5L51 23.5' stroke='white' stroke-width='6'/%3E%3Crect x='5' y='5' width='62' height='62' rx='11' stroke='%232F2F2F' stroke-width='10'/%3E%3C/svg%3E%0A");
}

p {
    margin: 0px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.inputs-container {
    width: 640px;
    height: 696px;
}