.StyledInput {
    outline: none !important;
    font-family: Iset Sans;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    width: 900px;
    height: 120px;
    border: none;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
    border-radius: 24px;
}

.StyledInput:required:valid {
    font-family: Iset Sans;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    width: 900px;
    height: 120px;
    border: 8px solid #FFFFFF;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
    border-radius: 24px;
}

.StyledInput:focus:required:invalid {
    font-family: Iset Sans;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    width: 900px;
    height: 120px;
    border: 8px solid #E1222D;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 32px 24px 32px 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;
    background: #2F2F2F;
}

.check {
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 140%;
    margin-top: 30px;
}

.check__input__0 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box__0 {
    display: flex;
    width: 369px;
    height: 88px;
    background-image: url("../src/image/Демонтаж-Неактивный.png");
}

.check__input__0:checked + .check__box__0 {
    background-image: url("../src/image/Демонтаж-Активный.png");
}

.check__input__1 {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}

.check__box__1 {
    display: flex;
    width: 328px;
    height: 88px;
    background-image: url("../src/image/Монтаж-Неактивный.png");
    /*
    background-image: url("data:image/svg+xml,%3Csvg width='314' height='88' viewBox='0 0 314 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M40 41.5L52 55L71 33' stroke='white' stroke-width='8'/%3E%3Cpath d='M104.84 37.08H109.92V50.52H102.36C103.96 47.6 104.84 42.4 104.84 37.68V37.08ZM95.2 50.52L96 59.08H99.36V54H113.16V59.08H116.52L117.32 50.52H114.08V33.6H100.68V35.84C100.68 42.96 100.12 46.8 97.92 50.52H95.2ZM129.134 36.68C132.254 36.68 134.294 39.32 134.294 43.8C134.294 48.28 132.254 50.92 129.134 50.92C126.014 50.92 123.974 48.28 123.974 43.8C123.974 39.32 126.014 36.68 129.134 36.68ZM129.134 54.4C134.814 54.4 138.534 50.44 138.534 43.8C138.534 37.16 134.814 33.2 129.134 33.2C123.454 33.2 119.734 37.16 119.734 43.8C119.734 50.44 123.454 54.4 129.134 54.4ZM157.378 43.88C158.218 41.8 160.178 40.44 162.218 40.44C164.938 40.44 166.978 42.08 166.978 45.4C166.978 48.72 164.938 50.56 162.218 50.56C159.138 50.56 157.378 47.88 157.378 43.88ZM158.098 38.44C159.578 33.36 164.338 30.44 168.938 28.8L167.458 25.6C159.178 28 153.138 34.2 153.138 43.88C153.138 50.16 156.578 54.4 162.218 54.4C167.418 54.4 171.338 51.12 171.338 45.4C171.338 39.52 167.818 36.6 163.298 36.6C161.258 36.6 159.498 37.32 158.218 38.52L158.098 38.44ZM189.28 36.28C188.44 38.36 186.48 39.76 184.44 39.76C181.72 39.76 179.64 37.92 179.64 34.6C179.64 31.28 181.72 29.44 184.44 29.44C187.52 29.44 189.28 32.28 189.28 36.28ZM188.56 41.76C187.24 46.6 182.88 49.32 178.12 51.12L179.64 54.4C187.92 52 193.52 45.88 193.52 35.88C193.52 29.4 190.08 25.6 184.44 25.6C179.2 25.6 175.32 29.12 175.32 34.6C175.32 40.24 178.6 43.4 183.36 43.4C185.4 43.4 187.16 42.88 188.44 41.68L188.56 41.76ZM211.663 36.28C210.823 38.36 208.863 39.76 206.823 39.76C204.103 39.76 202.023 37.92 202.023 34.6C202.023 31.28 204.103 29.44 206.823 29.44C209.903 29.44 211.663 32.28 211.663 36.28ZM210.943 41.76C209.623 46.6 205.263 49.32 200.503 51.12L202.023 54.4C210.303 52 215.903 45.88 215.903 35.88C215.903 29.4 212.463 25.6 206.823 25.6C201.583 25.6 197.703 29.12 197.703 34.6C197.703 40.24 200.983 43.4 205.743 43.4C207.783 43.4 209.543 42.88 210.823 41.68L210.943 41.76ZM223.846 40C223.846 32.56 226.086 29.44 229.286 29.44C232.486 29.44 234.726 32.56 234.726 40C234.726 47.44 232.486 50.56 229.286 50.56C226.086 50.56 223.846 47.44 223.846 40ZM239.086 40C239.086 30.52 235.446 25.6 229.286 25.6C223.126 25.6 219.486 30.52 219.486 40C219.486 49.48 223.126 54.4 229.286 54.4C235.446 54.4 239.086 49.48 239.086 40ZM252.259 41.76H256.099V44.84H252.259V47.88H256.099V54H260.419V47.88H267.499L268.299 44.84H260.419V41.76H263.339C268.659 41.76 272.659 39.72 272.659 33.88C272.659 28.04 268.659 26 263.339 26H256.099V38.72H252.259V41.76ZM263.259 29.84C266.179 29.84 268.299 30.72 268.299 33.88C268.299 37.04 266.179 37.92 263.259 37.92H260.419V29.84H263.259Z' fill='white'/%3E%3Cpath d='M44 10H270V-10H44V10ZM270 78H44V98H270V78ZM44 78C25.2223 78 10 62.7777 10 44H-10C-10 73.8234 14.1766 98 44 98V78ZM304 44C304 62.7777 288.778 78 270 78V98C299.823 98 324 73.8234 324 44H304ZM270 10C288.778 10 304 25.2223 304 44H324C324 14.1766 299.823 -10 270 -10V10ZM44 -10C14.1766 -10 -10 14.1766 -10 44H10C10 25.2223 25.2223 10 44 10V-10Z' fill='%232F2F2F'/%3E%3C/svg%3E%0A");
     */
}

.check__input__1:checked + .check__box__1 {
    background-image: url("../src/image/Монтаж-Активный.png");
}

p {
    margin: 0px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;

    color: #000000;
}

.inputs-container {
    width: 640px;
    height: 696px;
}