/*Стили для списка предложений автокомплита*/

.plate_container {
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
    align-items: center;
    --front-color: #EBEAE8;
    --font-color: #26255D;
    --text-align-input: left;
    --plate-color: #FFFFFF;
}

.suggestion {
    width: 515px;
    height: 47px;

    margin: 0px;
    padding-left: 15px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    text-align: left;
    vertical-align: middle; /*по вертикали выравнивать = боль=( пришлось юзать костыль в виде span в li*/
    display: table-cell;

    /* Тёмно-синий */

    color: var(--font-color);
    /*opacity: 0.5;*/

}

.suggestion_active {
    width: 515px;
    height: 47px;

    margin: 0px;
    padding-left: 15px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    text-align: left;
    vertical-align: middle; /*по вертикали выравнивать = боль=( пришлось юзать костыль в виде span в li*/
    display: table-cell;

    color: whitesmoke;

    border-radius: 4px;
    cursor: pointer;
    background-color: var(--font-color);
}


.suggestions li {
    padding-left: 6px;
    padding-right: 6px;
    justify-content: center;

    height: 47px;
}

.suggestion:hover {
    background-color: var(--font-color);
    /*opacity: 1;*/
    color: whitesmoke;
    mix-blend-mode: darken;
    border-radius: 4px;
    cursor: pointer;
    opacity: 1;
}

.suggestion_pref {
    color: var(--font-color);
}

.suggestion .suggestion_part {
    opacity: 0.5;
}

.suggestion_active .suggestion_part {
    opacity: 1;
}

.suggestion_active .suggestion_pref {
    color: whitesmoke;
}

.suggestions {
    background: #FFFFFF;
    box-shadow: -1px 20px 25px rgba(38, 37, 93, 0.3);
    border-radius: 8px;

    max-width: 525px;
    min-width: 525px;
    overflow: hidden;
    padding: 6px 0px;
    list-style-type: none;
    align-items: center;
    margin-top: 41px; /*от инпута с латинским названием*/
    margin-left: -25px; /*костылёк)*/
}

/*Стили для таблички*/

.street {
    margin-top: 15.11px;
    margin-bottom: 14.67px;
    display: block;
    width: calc(100% - 186px); /*костыль*/
}

.street input {
    text-align: var(--text-align-input);
    border: none;
    background: transparent;
    outline: none;
    padding: 0px;

}

.street input::placeholder {
    color: var(--font-color);
    opacity: 0.5;
}

.street_type {
    display: block;
    width: 100%;
    height: 29px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 29.3333px;
    line-height: 29px;

    letter-spacing: 0.11em;
    text-transform: uppercase;

    color: var(--font-color);
}

.street_name {
    display: block;
    width: 100%;
    height: 69px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 69px;
    /* or 69px */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* Тёмно-синий */

    color: var(--font-color);

}

.street_latin {
    display: block;
    /*width: 426.67px;*/
    width: 100%;
    height: 28px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28.4444px;
    line-height: 28px;
    /* or 28px */

    letter-spacing: 0.18em;
    text-transform: uppercase;

    /* Тёмно-синий */

    color: var(--font-color);
}

.plate {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 0px;

    padding-left: 24px;
    display: flex;
    background-color: var(--plate-color);
    /*width: 640px;*/
    height: 160px;

    filter: drop-shadow(0px 5px 0px rgba(38, 37, 93, 0.3)) drop-shadow(6.22222px 17.7778px 35.5555px rgba(23, 22, 58, 0.1));
    border-radius: 10px;
    justify-content: flex-start;
}

/*возможно, разделитель нужно делать не из дива)*/
.separator {
    border: 2.2222px solid var(--font-color);
    background-color: var(--font-color);
    width: 0px;
    height: 121.11px;
    margin-top: 15.11px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    opacity: 0.5;

}

.building input {
    border: none;
    background: transparent;
    outline: none;
    padding: 0px;
}

.building input::placeholder {
    color: var(--font-color);
    opacity: 0.5;
}

.building_number {
    width: 138.67px;
    height: 87.11px;

    margin-top: 24.11px;
    margin-left: 15.11px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    /*font-size: 102.222px;*/
    line-height: 100%;
    /* or 102px */
    type: text;
    maxlength: "6";

    text-align: center;

    /* Тёмно-синий */

    color: var(--font-color);
}

.building_near_number {
    height: 27px;
    width: 30px;
    margin-left: 36.44px;

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26.6667px;
    line-height: 27px;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    /* Тёмно-синий */

    color: #26255D;
}

.plate_width_size {
    margin: 0px;
    padding: 0px;

    /*background-color: whitesmoke;*/

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    /* or 31px */

    transform: rotate(-90deg);
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
    margin-left: -15px;
    margin-right: -27px; /*Два костыля, тк были отступы, не ясно откуда появившиеся*/
    color: #00000080;
}

.plate_length_size {
    margin: 0px;
    padding: 0px;

    /* Текст по-жирнее */

    font-family: Iset Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 140%;

    color: rgba(255, 255, 255, 0.8);
}

.size_and_price_container{
    display: flex;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: space-between;
}

.price {
    /* H3 */

    font-family: Iset Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */

    text-align: right;

    /* Белый 80% */

    color: rgba(255, 255, 255, 0.8);
}
