.window {
    width: 367px;
    height: 508px;
}

.window_frame {
    width: 327px;
    height: 474px;
    border: 4px solid #B4B4B4;
    border-bottom: 0px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

.window_sill {
    width: 367px;
    height: 38px;
    border: 4px solid #B4B4B4;
    box-sizing: border-box;
}

.window_glass_top {
    width: 289px;
    height: 162px;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;

    /* Белый */

    background: #FFFFFF;
    /* 🗑/Светлый контур фасада */

    border: 4px solid #B4B4B4;
    /*box-sizing: border-box;*/
}

.window_glass_bottom_container {
    margin-top: 11px;
    width: 289px;
    height: 260px;
    margin-right: 15px;
    margin-left: 15px;

    display: flex;
    Justify-content: space-between;
}

.window_glass_bottom {
    width: 137px;
    height: 260px;

    /* Белый */

    background: #FFFFFF;
    /* 🗑/Светлый контур фасада */

    border: 4px solid #B4B4B4;
    box-sizing: border-box;
}